#seccion1 {
    display: flex;           /* Activa el modo flexbox */
    gap: 20px;               /* Espacio entre las secciones (opcional) */
}

#FILTRO {
    flex: 0.5;                 /* Ocupa 1 parte del espacio */
    background-color: lightgray; /* Para visualizar la sección */
    padding: 10px;
}

#MODELOS {
    flex: 3.5;                 /* Ocupa 3 partes del espacio */
    background-color: lightblue; /* Para visualizar la sección */
    padding: 10px;
}

.filas {
    display: flex;               /* Activa Flexbox */
    justify-content: space-between;  /* Distribuye los artículos con el mismo espacio entre ellos */
    gap: 5px;                   /* Añade espacio entre los artículos (opcional) */
    padding: 5px;               /* Espacio interno de la sección */
}

.filas article {
    flex: 1;                     /* Hace que cada artículo ocupe el mismo ancho */
    text-align: center;           /* Centra el texto dentro de cada artículo (opcional) */
    padding: 5px;               /* Espacio interno dentro de cada artículo */
    border: 1px solid #ccc;       /* Bordes para visualizar mejor los artículos */
    background-color: lightgray;  /* Fondo para visualización */
}