@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif, Poppins;
}

h2 {
  font-family: "New Amsterdam";
  font-size: 48px;
  font-style: normal;
  font-weight: 80;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  color: #475569;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  z-index: 1000;
  justify-content: space-between;
  transition: all 0.5s ease;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
}

main {
  background: white;
  margin-top: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
  color: black;
}

#opciones {
  display: flex;
  width: 705px;
  justify-content: space-between;
  align-items: center;
  font-family: Outfit;
}

#opciones a {
  display: inline-block;
  margin: 0 35px;
  color: #475569;
  font-size: 1rem;
  transition: all 0.6s ease;
  font-family: Poppins;
}
#opciones a:hover {
  color: #ae8957; /*cambiar el color de la animacciona al precionar las opciones*/
  transform: scale(1.3);
}

#salir {
  display: flex;
  align-items: center;
}

#nave {
  display: inline-block;
  padding: 9px 24px;
  background: transparent;
  border: 2px solid #475569;
  border-radius: 7px;
  color: #475569;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.6s ease;
}
#nave:hover {
  transform: translateY(-5px);
  border: 2px solid #ae8957;
  color: #ae8957;
}

#iconomenu {
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
  color: black;
}

#opciones2 {
  background-size: cover; /* Ajusta el tamaño de la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh;
  background-image: url(../Carpeta_Imagenes/fondohome.png);
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}

#opciones2 a {
  display: flex;
  position: relative;
  top: 25%;
  left: 3%;
  padding: 10px 60px 10px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(30.75px);
  color: #fff;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#opciones2 a:hover {
  transform: scale(1.1);
}

#slider {
  display: grid;
  position: relative;
  top: 75%;
  height: 12%;
  background: white;
  border-radius: 9px;
  padding: 15px 15px 15px 15px;
  justify-content: center;
  overflow: hidden;
  right: 10%;
}

#links {
  display: flex;
  width: calc(100%);
  justify-content: space-between;
  align-items: center;
  font-family: "Outfit";
}

#linkslogo {
  margin-left: 90rem;
}
#linkslogo {
  width: 100%;
  height: auto;
}

#section_promos {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: white;
  height: 90vh;
}

#Promocions {
  position: relative;
  margin-top: 4%;
  text-align: center;
  line-height: 55px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#promo_links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  background: white;
  overflow: hidden;
  position: relative;
}

#promo_links li {
  position: relative;
  margin-top: 2%;
}

.lzmtos_img {
  display: flex;
  position: relative;
  top: 20%;
  width: 400px;
  height: 100%;
  background-size: cover;
  transition: transform 0.6s ease;
}
.lzmtos_img:hover {
  transform: scale(1.1);
}

ul#links li.linkslogo {
  width: 12rem;
  overflow: hidden;
}

#verseminuevos button {
  position: relative;
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  display: inline-block;
  padding: 9px 24px;
  background: none;
  border: 2px solid #475569;
  border-radius: 7px;
  color: #475569;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.6s ease;
}

#verseminuevos button:hover {
  transform: translateY(-7px);
  border: 2px solid #ae8957;
  color: #ae8957;
}

main #galeria2 {
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 90px;
}
#BLOGG {
  position: relative;
  margin-top: 4%;
  text-align: center;
  line-height: 55px;
  font-family: "New Amsterdam";
  font-size: 48px;
  font-style: normal;
  font-weight: 80;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  font-weight: bold;
}
#videos2 {
  width: 100%;
  max-width: 1100px;
  height: 80vh; /* Ajustar según sea necesario */
  border-collapse: separate; /* Permite el uso de border-spacing */
  border-spacing: 10px; /* Espaciado entre las celdas */
}

#videos2 td {
  padding: 0; /* Sin padding para que el video ocupe todo el espacio */
  height: 200px; /* Altura fija para las celdas */
  overflow: hidden; /* Ocultar cualquier contenido que se desborde */
  text-align: left; /* Alineación del texto */
}

.video-item2 {
  width: 100%; /* Ajustar al 100% del espacio de la celda */
  height: 100%; /* Ajustar al 100% del espacio de la celda */
  overflow: hidden; /* Ocultar cualquier desbordamiento */
}

.video-item2 video {
  width: 100%; /* Ajustar el ancho del video al 100% de la celda */
  height: 100%; /* Ajustar la altura del video al 100% de la celda */
  object-fit: cover; /* Mantener proporciones del video y recortar si es necesario */
  display: block; /* Evitar espacio en la parte inferior del video */
  transition: transform 0.3s ease;
}

.video-item video:hover {
  transform: scale(1.05);
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

main #preferencia {
  width: 100%;
  height: 95vh;
  background: #00142e ;
  padding: 50px 0;
  text-align: center;
  justify-items: center;
  overflow: hidden;
}

#preferencia h2 {
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#preferencia ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
}

#preferencia ul .beneficio {
  text-align: center;
  height: 100vh;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Poppins;
}

.beneficio img {
  width: 100%;
  height: 40%;
  border-radius: 10px;
}

.beneficio p {
  font-weight: bold;
  margin-top: 25px;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.beneficio h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #f4f4f4;
}

footer {
  background: #00142e;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 200px;
  width: 100%;
}

footer #footer_enlaces {
  background: #00142e;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: justify;
}

#footer_enlaces section {
  padding: 30%;
  justify-content: center;
}

#footer_enlaces .footer_links {
  color: #ffffff;
  position: relative;
  margin-top: 50px;
}
.footer_links li {
  width: 15px;
  padding-bottom: 20px;
}

.footer_links a {
  color: white;
  font-family: Poppins;
  font-size: 13.672px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding-top: 40px;
}

.footer_titulos {
  margin-bottom: 10px;
  color: #ff9c01;
  font-family: Inter;
  font-size: 17.367px;
  font-style: normal;
  font-weight: 900;
  line-height: 22.8px;
  display: flex;
  width: 82.4px;
  height: 22.8px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

footer #footer_derechos {
  background: #00142e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  gap: 30px;
}
#footer_derechos #Precios_bonos {
  justify-content: center;
  background: #011023;
  width: 100%;
  display: flex;
  padding: 25px 20px;
}

#f1_imagenes,
#f2_imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#f1_imagenes a,
#f2_imagenes a {
  margin: 0 10px;
}

#f1_imagenes img,
#f2_imagenes img {
  width: 30px;
  height: 30px;
  fill: white;
}

#f2_imagenes img {
  width: auto;
  height: auto;
}
